
*, *::before, *::after {
    box-sizing: border-box;
  }
  body{
    background-color: rgb(2, 2, 34);
  }
.box{
    border: 1px solid black;
    padding: 5px;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, .1);
    
}
.player{
    height: 300px;
    width: 300px;
}
.enemy{
    height: 300px;
    width: 300px;
}
.game-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20210320/pngtree-black-yellow-and-bule-versus-battle-fighters-vs-background-image_590756.jpg);
    background-size: cover;    
}
.btn-cont{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}
.attack{
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, .1);
    background-color: rgb(248, 218, 46);
}
.attack:hover{
    background-color: red;
    font-family: monospace;
}
.potion{
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, .1);
    background-color: rgb(248, 218, 46);
}
.potion:hover{
    background-color: greenyellow;
}

.hp-container{
    border: 1px solid red;
    height: 20px;
    background-color: red;
}
.enemy-hp{
    background-color: green;
    height: 100%;
    width: 100%;
}
.player-hp{
    background-color: green;
    height: 100%;
    width: 100%;
}
.game-over{
    background-image: url(https://t4.ftcdn.net/jpg/05/41/32/55/360_F_541325515_e7IBkBDJYDfOjuFGXX6QVFIqKyscW42T.jpg);
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}
.res{
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
background-color: transparent;
width: 220px;
height: 220px;
border: none;
font-size: 40px;
color: rgb(214, 83, 66);
cursor: pointer;
}
/* .res:hover{
    background-color: rgba(243, 15, 15, 0.658);

} */
.weapon-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.weapon-size{
    height: 70px;
    cursor: pointer;
    border: solid 2px rgb(248, 218, 46);
}

.edit{
    color: rgb(12, 27, 11);
    font-size: 20px;
    border: 1px solid white;
    background-color: rgb(248, 218, 46);
}
.xp-container{
    width: 100%;
    height: 20px;
    background-color: rgb(172, 172, 255);
}
.xp{
    height: 100%;
    width: 0;
    background-color: blue;
}
li{
    font-size: 40px;
    color: rgb(148, 35, 35);
}
h1{
    font-size: 50px;
    color: rgb(196, 35, 35);
}
.npc{
    color: rgb(248, 218, 46)
}